[alias]
	acm = !git add . && git commit -m
	acn = !git add . && git commit -n -m
	aam = !git add . && git commit --amend
	anm = !git add . && git commit -n --amend
	scb = branch --show-current
	ccb = !git scb | tr -d '\n' | xclip -sel clip
	rst = restore
	resh = reset --soft HEAD^
	br = branch
	b  = branch
	st = stash
	s  = status
	c  = checkout
	co = checkout
	cob = checkout -b
	cofb = checkout -fB
	rb = rebase
	l  = log
	ll = log -1
	lo = log --oneline
	llo = log -1 --oneline
	fa = fetch --all
	f  = fetch --all
	pu = pull
	p  = pull
	ps = push
	psf = push -f
	cp = cherry-pick
	fap = !git fetch --all && git pull
[user]
	name = ""
	email = ""
	signingKey = ""
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[includeIf "gitdir/i:~/work/paradox/"]
    path = ~/git/company/.gitconfig
